@font-face {
  font-family: "iconfont"; /* Project id 4191629 */
  src: url('iconfont.woff2?t=1691050153526') format('woff2'),
       url('iconfont.woff?t=1691050153526') format('woff'),
       url('iconfont.ttf?t=1691050153526') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.douhua-dot:before {
  content: "\e63f";
}

.douhua-yixiangxueyuan:before {
  content: "\e72c";
}

.douhua-gongzuoguanli-gongzuodating:before {
  content: "\e631";
}

.douhua-xiangmu:before {
  content: "\e63b";
}

.douhua-gongsi:before {
  content: "\e769";
}

.douhua-xiangmuguanli:before {
  content: "\e615";
}

.douhua-gongsiguanli:before {
  content: "\e60e";
}

.douhua-kejixiangmu:before {
  content: "\e73c";
}

.douhua-nianji:before {
  content: "\e61f";
}

.douhua-MailUnread-1:before {
  content: "\e6a4";
}

.douhua-yonghu:before {
  content: "\ec9c";
}

.douhua-weixin:before {
  content: "\ec9f";
}

.douhua-bulid:before {
  content: "\e63c";
}

.douhua-yingyongruanjian2:before {
  content: "\e859";
}

.douhua-pingguo:before {
  content: "\e663";
}

.douhua-IEliulanqi:before {
  content: "\e669";
}

.douhua-github:before {
  content: "\e600";
}

.douhua-apps-fill:before {
  content: "\e64d";
}

.douhua-tongxin:before {
  content: "\e609";
}

.douhua-danxuan03:before {
  content: "\ea69";
}

.douhua-p010dianhua:before {
  content: "\e60f";
}

.douhua-p020xiansuo:before {
  content: "\e610";
}

.douhua-p009baobiao:before {
  content: "\e611";
}

.douhua-a-memberblock:before {
  content: "\e621";
}

.douhua-a-wechatblock:before {
  content: "\e625";
}

.douhua-a-locationblock:before {
  content: "\e62a";
}

.douhua-sanzuobiao2:before {
  content: "\ebd0";
}

.douhua-a-jianzhu2:before {
  content: "\ebf9";
}

.douhua-a-xianshiping2:before {
  content: "\ebfd";
}

.douhua-a-xuexi5:before {
  content: "\ebfe";
}

.douhua-jilu:before {
  content: "\e60c";
}

.douhua-dingwei:before {
  content: "\e60a";
}

.douhua-jiaoyu:before {
  content: "\e60d";
}

.douhua-gongzuorenwu_filled:before {
  content: "\e60b";
}

.douhua-riqishijian_filled:before {
  content: "\e612";
}

.douhua-shiwuID:before {
  content: "\e613";
}

.douhua-shebeichangshang:before {
  content: "\e614";
}

.douhua-xuexikaoshi:before {
  content: "\e616";
}

.douhua-rili:before {
  content: "\e61b";
}

